/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
div.body {
	background: #ffffff;
	padding-left: 50px;
	padding-right: 50px;
	float: left;
	max-width: 700px;
	}

body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: #a6b3a2; 
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
.bold {
	font-weight: bold;
}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0; 
	color: #7D775C;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}

